header {visibility: hidden !important;}
footer {visibility: hidden !important;}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.header-container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #FEFFC4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title-container {
    display: inline-block;
}

.title {
    font-size: 3em;
    font-weight: bold;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 1s ease-out forwards;
    animation-delay: 0.3s;
}

.title-slogan {
    font-size: 1.5em;
    font-weight: 300;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 1s ease-out forwards;
    animation-delay: 1s;
}

.prompt {
    color: #2E3B4E;
    border-radius: 3px;
    border: 1px solid #FFFCFB;
}
.scrollable-chat {
    max-height: 70vh;
    overflow-y: auto;
    padding-right: 10px;
}

.resume-button-wrapper {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;  /* stay above other elements */
    animation: fadeIn 0.8s ease-out;
}

